<a href="https://colab.research.google.com/github/sandhyaparna/Python-DataScience-CookBook/blob/master/Interview%20Questions/IBOTTA_DS_Retail_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* objective is to predict binary user sex

In [3]:
# Import packages
import numpy as np
import pandas as pd

In [1]:
from google.colab import files
uploaded = files.upload()

Saving IbottaPurchase.csv to IbottaPurchase.csv

In [5]:
import io
purchases = pd.read_csv(io.BytesIO(uploaded['IbottaPurchase.csv']))
print(f'IbottaPurchase file is loaded')

IbottaPurchase file is loaded

In [16]:
print('purchases dataset has ' + str(purchases.shape[0]) + ' rows, and ' + str(purchases.shape[1]) + ' columns')

print("\nNumber of missing values:\n",purchases.isnull().sum())

print("\nTop few rows of the data:")
purchases.head()

purchases dataset has 240557 rows, and 11 columns

Number of missing values:
 customer_id                     0
sex                             0
receipt_id                      0
receipt_item_id                 0
brand_name                   4161
primary_category_name       21736
secondary_category_name     21736
tertiary_category_name      21736
quantity                        0
price                      143726
created_at                      0
dtype: int64

Top few rows of the data:

   customer_id sex  receipt_id  ...  quantity price           created_at
0      9499001   F   123438217  ...       1.0  2.29  2016-12-05 23:22:23
1      7136001   F   101714769  ...       1.0  1.99  2016-09-06 00:20:51
2      7136001   F   119402577  ...       1.0  0.00  2016-11-20 22:24:54
3      7136001   F   104246626  ...       1.0  2.19  2016-09-17 22:36:15
4       590001   F   121602854  ...       1.0  4.49  2016-11-29 02:35:13

[5 rows x 11 columns]

In [18]:
print(len(pd.unique(purchases.customer_id)))

print(len(pd.unique(purchases.receipt_id)))
print(len(pd.unique(purchases.receipt_item_id)))

2355
20545
240550

In [11]:
# Frequency distribution of Gender in the data
gender = purchases[['customer_id', 'sex']].drop_duplicates()
pd.value_counts(gender.sex)

F    1618
M     737
Name: sex, dtype: int64

In [ ]:
# Split data based on customer_id