<a href="https://colab.research.google.com/github/sandhyaparna/Python-DataScience-CookBook/blob/master/Interview%20Questions/Python_Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Functions
* The apply() function is used to apply a function along an axis of the DataFrame.
* The applymap() function is used to apply a function to a Dataframe elementwise.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.binomial(n=10, p=0.2, size=(100,3)), columns=list('xyz'))

df['p'] = df['x'].apply(lambda x: function(arugments))

df['p'] = df['x'].apply(lambda x: x**2)
df.head()

In [ ]:
df = df.apply(lambda x: x**2,axis=1)
df.head()

   x  y   z   p
0  0  1  25   0
1  4  0  16  16
2  1  9   1   1
3  4  9   1  16
4  4  9   0  16

In [ ]:
# Column wise
df.apply(lambda x: x.sum(), axis=0)

x    172
y    202
z    203
dtype: int64

In [ ]:
#  performs the Lambda function on the DataFrame elementwise
df.applymap(lambda x: x*10).head()

    x   y   z
0  30  10  70
1  30  20  20
2  20  10  40
3  10  10   0
4  10  20  10

In [ ]:
def cm_to_mm(cm):
    mm = cm * 10
    return mm
df.apply(cm_to_mm).head()

    x   y   z
0  30  10  70
1  30  20  20
2  20  10  40
3  10  10   0
4  10  20  10

In [ ]:
def sum_square(a,b):
  return (a+b)**2

# apply() performs the Lambda function along an axis of a DataFrame

# Apply function on df where the function uses all the columns of the dataframe
# When there are 3 columns but sum_square uses only 2 variables, it is applied on only first 2 columns of df
print("sum sq on first 2 columns \n",df.apply(lambda row: sum_square(row[0], row[1]), raw=True, axis=1).head())

# Apply on 1st and 3rd  columns
print("\nsum sq on 1st & 3rd columns \n",df.apply(lambda row: sum_square(row[0], row[2]), raw=True, axis=1).head())

# Apply a function on ONLY single variable
print("\nsq on 1st column \n",df['x'].map(lambda p: p**2).head())

sum sq on first 2 columns
 0      1
1     16
2    100
3    169
4    169
dtype: int64

sum sq on 1st & 3rd columns
 0    625
1    400
2      4
3     25
4     16
dtype: int64

sq on 1st column
 0     0
1    16
2     1
3    16
4    16
Name: x, dtype: int64

  ### Lists:
  * list.append(x) - add item at the end
  * list.insert(at index, x)
  * list.extend(list2) : To append elements from another list to the current list
  * list1 + list2 : combines two lists, similar to extend but creates a new list instead of modifying list1
  * list.remove(item) : removes item when it appears for the first time
  * list.pop(index) : pop(2) removes the specified index i.e. 2 in this case
  * list.pop(): removes last item
  * del list[2] : removes the item at specified index
  * del list[2:5]
  * del list : del the entire list
  * list.clear() : empties the list similar to del list[:]
  * list.sort() : ascending
  * list.sort(reverse = True) : descending
  * list.sort() on string avlues gives all capital letter sorted first before lower case letters
  * list.sort(key = str.lower) : To perform case-insensitive sort of the list. lower cased and upper cased are sorted by the letter but for same letter lower case comes before upper case
  * sorted(list)
  * list.reverse() : Reverse the order of the list items. similar to List[::-1]
  * list1 = list[:] : shallow copy
  * list.copy() : to copy lists, shallow copy
  * list.deepcopy() : deep copy
  * list.count(item): returns number of elements with the specified values
  * list.index("sam") : returns index of the item, list.index(x[, start[, end]])
  * list[start index : end index : step]
  * len(list)
  * set(list) - Remove duplicates from list
  * sum(list) - adds numbers within the list
  * max(list)
  * min(list)
  * list[0] = list[-n] , where n is len(list). positive indexes of a list are from 0 to n-1. negative indexes of a list are from -1 to -n
  * list[n-1] = list[-1]
  * Modify values with assignment list[1:3] = [11,12], list[3] = 13
  * list1 = ['a','b','c'], list2 = [1,2,3], 
  lst = list(zip(list1,list2)) = [('a', 1), ('b', 2), ('c', 3)]
  * enumerate(list) gives index and value at that respective index : for index,val in enumerate(list)
  * ",".join(list) : returns a string with list elements seperated by comma

In [ ]:
lst = [1,2,3]
lst.extend([4,5])
print(lst)
print(lst[:-1])
print(lst[1:-1])
print(lst[::2])
print(lst[::-1]) # step size is -1
print(lst[::-2]) # step size is -2
print(lst[:])

word = 'aeioubcdfg'
print(word [:3]) #indexes 0,1&2
print(word[0:3])
print(word [3:])

a = [0,1,2,3,4,5,6,7,8,9]
print(a[:2])
print(a[8:])
print(a[2:8])
print(a[2:8:2]) #list[start:stop:step]

print([i for i in range(10)])
print([i for i in range(2,10)])
print([i for i in range(2,10,2)])
print([i for i in range(2, 30, 3)])

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[2, 3, 4]
[1, 3, 5]
[5, 4, 3, 2, 1]
[5, 3, 1]
[1, 2, 3, 4, 5]
aei
aei
oubcdfg
[0, 1]
[8, 9]
[2, 3, 4, 5, 6, 7]
[2, 4, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[2, 5, 8, 11, 14, 17, 20, 23, 26, 29]

In [ ]:
def foo (i= []):
    i.append (1)
    return i
print(foo ()) # appends 1 first time
print(foo ()) # appends 1 again

[1]
[1, 1]

In [ ]:
# Zip when using 2 or more arrays in loops
a = ['a','b','c']
b = [1,2,3]
print([(k,v) for k,v in zip(a,b)])

# zip using 3 arrays: similar to transpose of a matrix
a = ['a','b','c']
b = [1,2,3]
c = ['p','q','r']
print([(x,y,z) for x,y,z in zip(a,b,c)],"\n")

# Using enumerate():  enumerate() is used to loop through the containers printing the index number along with the value present in that particular index.
# enumerate() is used to create index and its corresponding value of a list
for key, value in enumerate(['The', 'Big', 'Bang', 'Theory']): 
    print(key, value) 

for key, value in enumerate(['Geeks', 'for', 'Geeks', 'is', 'the', 'Best', 'Coding', 'Platform']): 
    print(value, end=' ')

[('a', 1), ('b', 2), ('c', 3)]
[('a', 1, 'p'), ('b', 2, 'q'), ('c', 3, 'r')]

0 The
1 Big
2 Bang
3 Theory
Geeks for Geeks is the Best Coding Platform

In [ ]:
# Seperate a list into 2 elements: 1st and all other into 1
# * is used for collectiong
head, *tail = [1,2,3,4,5]
print(head)
print(tail,"\n")

head, *tail, y = [1,2,3,4,5]
print(head)
print(tail)
print(y,"\n")

nums = [3,5]
print(*nums)

x, y, z = "Orange", "Banana", "Cherry"
print("\n",x,y,z)
fruits = ["apple", "banana", "cherry"]; x, y, z = fruits
print("\n",x,y,z)
print(fruits)

1
[2, 3, 4, 5]

1
[2, 3, 4]
5

3 5

 Orange Banana Cherry

 apple banana cherry
['apple', 'banana', 'cherry']

In [ ]:
print("Loop Through a List of unique values")
thislist = ["apple", "banana", "cherry", "banana"]
for x in set(thislist): # Order is lost in sets
  print(x)

print("\nLoop Through the Index Numbers")
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

print("\nWhile loop to go through all the index numbers")
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

print("\nTo ignore a variable - use underscore") #https://healthedge.udemy.com/course/rest-api-flask-and-python/learn/lecture/15927666#overview
person = ("Sandy", 27, "DS")
name, _, profession = person
print(name, profession)

Loop Through a List of unique values
cherry
banana
apple

Loop Through the Index Numbers
apple
banana
cherry

While loop to go through all the index numbers
apple
banana
cherry

To ignore a variable - use underscore
Sandy DS

### Stacks
* Similar to objects putting into a bucket
* Last In Fist Out
* list.append() - Add objects to the end
* list.pop() - Starts removing last objects first

### Queue
* Similar to objects in line
* First In First out
* To remove first element: list.pop(0)

#### Deque
* Queue in Python can be implemented using deque class from the collections module.
* Queue is FIFO where as Deque can be FIFO or LIFO as as deque provides an O(1) time complexity for append and pop operations on either ends as compared to list which provides O(n) time complexity
* Deque is preferred over list in the cases where we need quicker append and pop operations from both the ends of container



* de = collections.deque([1,2,3]) 
* de.append(x) :  insert x at the end
* de.appendleft(x) : insert x at the beginning
* de.pop() : removes x from the end
* de.popleft() :  removes x from the beginning
* de.count(x)
* de.remove(x)
* de.extend(de1)
* de.extendleft(de1)
* de.index(ele, beg, end) 
* de.insert(index,value)

In [ ]:
# Deque: Deque (Doubly Ended Queue) in Python is implemented using the module “collections“.
# append(), appendleft(), pop(), and popleft() 

from collections import deque  
queue = deque(['name','age','DOB'])   

# importing "collections" for deque operations 
import collections 
de = collections.deque([1,2,3]) 

de.append(4) 
print(de,"\n")

# using appendleft() inserts 6 at the beginning of deque 
de.appendleft(6) 
print(de,"\n")
  
# using pop()  deletes 4 from the right end of deque 
de.pop() 
print(de,"\n")

# using popleft() deletes 6 from the left end of deque 
de.popleft() 
print(de,"\n")

deque([1, 2, 3, 4])

deque([6, 1, 2, 3, 4])

deque([6, 1, 2, 3])

deque([1, 2, 3])

In [ ]:
# Python code to demonstrate working of  
# insert(), index(), remove(), count() 
  
# importing "collections" for deque operations 
import collections 
de = collections.deque([1, 2, 3, 3, 4, 2, 4]) 
  
# using index() to print the first occurrence of 4 
print ("The number 4 first occurs at index : ",de.index(4,2,5),"\n")  # index(ele, beg, end)
  
# using insert() to insert the value 3 at index=4
de.insert(4,3) #index,value
  
# printing modified deque 
print ("The deque after inserting 3 at 5th position is : ",de,"\n") 
  
# using count() to count the occurrences of 3 
print ("The count of 3 in deque is : ",de.count(3),"\n") 
  
# using remove() to remove the first occurrence of 3 
de.remove(3) 
# printing modified deque 
print ("The deque after deleting first occurrence of 3 is : ",de,"\n")

The number 4 first occurs at index :  4

The deque after inserting 3 at 5th position is :  deque([1, 2, 3, 3, 3, 4, 2, 4])

The count of 3 in deque is :  3

The deque after deleting first occurrence of 3 is :  deque([1, 2, 3, 3, 4, 2, 4])

In [ ]:
# rotate() :- This function rotates the deque by the number specified in arguments. If the number specified is negative, rotation occurs to left. Else rotation is to right.  

import collections 
de = collections.deque([1, 2, 3, 4, 5]) 
de.rotate(1) # 5 is moved to beginning
print(de)

de.rotate(-1) # 5 is moved back to end
print(de)

de.rotate(-2) # 1 & 2 are moved to end
print(de)

de.rotate(-3) # 3,4,5 are moved to end
print(de)

de.rotate(2) # 4,5 are moved to beginning
print(de)

deque([5, 1, 2, 3, 4])
deque([1, 2, 3, 4, 5])
deque([3, 4, 5, 1, 2])
deque([1, 2, 3, 4, 5])

In [ ]:
# Python code to demonstrate working of  
# extend(), extendleft(), rotate(), reverse() 
  
# importing "collections" for deque operations 
import collections 
de = collections.deque([1, 2, 3,]) 
  
# using extend() to add numbers to right end  
# adds 4,5,6 to right end 
de.extend([4,5,6]) 
  
# printing modified deque 
print ("The deque after extending deque at end is : ") 
print (de) 
  
# using extendleft() to add numbers to left end  
# adds 7,8,9 to right end 
de.extendleft([7,8,9]) 
  
# printing modified deque 
print ("The deque after extending deque at beginning is : ") 
print (de) 
  
# using rotate() to rotate the deque 
# rotates by 3 to left 
de.rotate(-3) 
  
# printing modified deque 
print ("The deque after rotating deque is : ") 
print (de) 
  
# using reverse() to reverse the deque 
de.reverse() 
  
# printing modified deque 
print ("The deque after reversing deque is : ") 
print (de)

The deque after extending deque at end is :
deque([1, 2, 3, 4, 5, 6])
The deque after extending deque at beginning is :
deque([9, 8, 7, 1, 2, 3, 4, 5, 6])
The deque after rotating deque is :
deque([1, 2, 3, 4, 5, 6, 9, 8, 7])
The deque after reversing deque is :
deque([7, 8, 9, 6, 5, 4, 3, 2, 1])

### Heap queue or heapq : 
* Heap data structure is mainly used to represent a priority queue. In Python, it is available using “heapq” module.
* Min heap: Min value of the entire set is the root node. Min is popped out first. Min Heap is a special tree structure in which each parent node is less than or equal to its child node.  A Binary Heap is either Min Heap or Max Heap. In a Min Binary Heap, the key at root must be minimum among all keys present in Binary Heap. The same property must be recursively true for all nodes in Binary Tree. Max Binary Heap is similar to MinHeap. Order of numbers is not maintained at a level and comparision is only between a decision node and its leaf nodes, left & right branches maintains heap structure independently
* If each parent node is greater than or equal to its child node then it is called a max heap. The highest key is in the root node


* heapify(iterable) : convert list into a heap data structure
* heappush(heap, ele) : To insert the element into heap. Heap structure is maintained.
* heappop(heap) :- Remove and return the smallest element from heap.heap structure is maintained.
* heappushpop(heap, ele) : both push and pop operations, increasing efficiency. Heap order is maintained after this operation.
* heapreplace(heap, ele) : Pop and return the smallest item from the heap, and also push the new item. 
* nlargest(k, iterable, key = fun) : return k largest elements 
* nsmallest(k, iterable, key = fun) : return the k smallest elements 
* list(heapq.merge(li1,li2)) : Merge k sorted lists to generate a sorted list

In [ ]:
""" The property of this data structure in Python is that each time the smallest of heap element is popped(min heap). 
Whenever elements are pushed or popped, heap structure in maintained. 
The heap[0] element also returns the smallest element each time."""
# Building heap structure: https://towardsdatascience.com/data-structure-heap-23d4c78a6962

# importing "heapq" to implement heap queue 
import heapq 
  
# initializing list 
li = [5, 7, 9, 1, 3] 
  
# using heapify to convert list into heap 
heapq.heapify(li) 
  
# printing created heap 
print ("The created heap is : ",end="") 
print (list(li)) 
  
print("heap[0]=",li[0])

# using heappush() to push elements into heap 
# pushes 4 
heapq.heappush(li,4) 
  
# printing modified heap 
print ("The modified heap after push is : ",end="") 
print (list(li)) 
  
# using heappop() to pop smallest element 
print ("The popped and smallest element is : ",end="") 
print (heapq.heappop(li)) 

# using nlargest to print 3 largest numbers 
print("The 3 largest numbers in list are : ",end="") 
print(heapq.nlargest(3, li)) 
  
# using nsmallest to print 3 smallest numbers 
print("The 3 smallest numbers in list are : ",end="") 
print(heapq.nsmallest(3, li)) 

# Merge 2 sorted lists
li1 = [4,8,10]
li2 = [1,2,6,12]
print(list(heapq.merge(li1,li2)))

The created heap is : [1, 3, 9, 7, 5]
heap[0]= 1
The modified heap after push is : [1, 3, 4, 7, 5, 9]
The popped and smallest element is : 1
The 3 largest numbers in list are : [9, 7, 5]
The 3 smallest numbers in list are : [3, 4, 5]
[1, 2, 4, 6, 8, 10, 12]

### operations/math
https://www.geeksforgeeks.org/python-operators/
* // : Floor division : 124 //100 =1
* % : Remainder
* ** : Exponentiation 
* abs(-5)
* round(3.57,1)
* pow(4,3) : 4**3: 4 power of 3
* sin(pi/4)
* sqrt(81)
* log(e**2)
* ceil(12.4) = 13
* floor(12.4) = 12

* !=
* and, or, not
* in, not in
* a,b = b,a : swapping
* Escape characters to give the desired result
  * \' : Single Quote
  * \\ :Backslash
  * \n: new line
  * \t : tab

In [ ]:
print("Floor division: ",124 // 100)
print("Floor division: ",124 // 10)  

print("Modulus or Remainder: ",124 % 10)  
print("Modulus or Remainder: ",124 % 3)  

print("Exponentiation: ",7 ** 3)  

print('We have %2d %s containing %.2f gallons of %s' %(2, 'bottles', 2.5, 'milk'))

print("Ternanry operator")
a, b = 10, 20
min = a if a < b else b 
print(min) 
print((lambda: b, lambda: a)[a < b]()) #Format: (if condition is False, if condition is True)

Floor division:  1
Floor division:  12
Modulus or Remainder:  4
Modulus or Remainder:  1
Exponentiation:  343
We have  2 bottles containing 2.50 gallons of milk
Ternanry operator
10
10
concatenate 2 strings:  GeeksFor
Repeat the String:  GeeksGeeksGeeksGeeks

In [ ]:
# -- Comparisons --
print(5 == 5)  # True
print(5 > 5)  # False
print(10 != 10)  # False

print("Comparisons operators: ==, !=, >, <, >=, <=")

True
False
False
Comparisons operators: ==, !=, >, <, >=, <=

### Conversion
* type(expression)
* int("15") : 15
* float("-13") " -13.0
* str(x) : ".."
* list("abc") : ['a','b','c']
* string.split() : split string by whitespace and generates each word as item in a list
* string.split(",") : split string by comma and generates list
* ",".join(list) : returns a string with list elements seperated by comma

In [ ]:
print(",".join(['The', 'Big', 'Bang', 'Theory']))

The,Big,Bang,Theory

In [ ]:
# simple ifelse statement
print("Any Returns true if any of the items is True",any([False, False, False, False]))
print("Any Returns true if any of the items is True",any([False, True, False, False]))
print("All Returns true if all of the items are True",any([False, True, False, False]))
print("All Returns true if all of the items are True",all([True, True, True, True]))

print(str(3))
print(int(3))
print(float(3))

print("\nMulti word naming")
print("Camel Case:Each word, except the first, starts with a capital letter:","myVariableName")
print("Pascal Case:Each word starts with a capital letter:","MyVariableName")
print("Snake Case:Each word is separated by an underscore character:","my_variable_name")

Any Returns true if any of the items is True False
Any Returns true if any of the items is True True
All Returns true if all of the items are True True
All Returns true if all of the items are True True
3
3
3.0

Multi word naming
Camel Case:Each word, except the first, starts with a capital letter: myVariableName
Pascal Case:Each word starts with a capital letter: MyVariableName
Snake Case:Each word is separated by an underscore character: my_variable_name

### String Operations
* s*5 : sssss
* s1+s2 : concatenate
* s.find('x')
* s.index('x')
* s.count('x')
* s.split(",")
* s.replace("word","replacementword")
* s.strip()
* s.lstrip()
* s.rstrip()
* s.upper()
* s.lower()
* s.title()
* s.capitalize()
* s.join()
* '''sfj /n sdvb''' : multi line string
* \ is escape character

In [ ]:
print("concatenate 2 strings: ","Geeks"+"For")
print("Repeat the String: ","Geeks"*4)

s = 'A string with     white space'
print(''.join(s.split()))

s = 'A string with     white space'
print(s.replace(' ', ''))

concatenate 2 strings:  GeeksFor
Repeat the String:  GeeksGeeksGeeksGeeks
Astringwithwhitespace
Astringwithwhitespace

Difference between a list, a set, and a tuple.
* Lists are enclosed in brackets: l = [1, 2, "a"]
* Tuples are enclosed in parentheses: t = (1, 2, "a") - Tuples are faster and consume less memory. 
* Dictionaries are built with curly brackets:d = {"a":1, "b":2} - To initialize dict use dict() or {}
* Sets are made using the set() builtin function - To initialize empty set using set function

In [ ]:
list = ["A","B","C"] # Order is maintained
Tuple = ("A","B","C") # Cannot add elements to Tuples or elements cannot be modified; Order is maintained
Set = {"A","B","C"} # Set cannot have duplicate values, Order may or maynot be maintained

print(list[0])
print(Tuple[0])
# print(set[0]) # Wrong becoz order is not maintained

list[0] = "E" #One of its element can be modified
print(list)
# Tuple[0] = "S"  # This gives an error because tuples are "immutable". Tuples cannot be appended to because they are immutable.

list.append("D") #Adds at the end
print(list)
list.remove("B")
print(list)
# Tuple[0] = "D" # Wrong becoz u cannot modify Tuple
list.insert(1,"B") # Insert at index=1
print(list)

Set.add("D")
print(Set)

A
A
['E', 'B', 'C']
['E', 'B', 'C', 'D']
['E', 'C', 'D']
['E', 'B', 'C', 'D']
{'D', 'C', 'A', 'B'}

### Sets 
Set items are unordered, unchangeable, and do not allow duplicate values.
* len(set)
* type(set)
* set.add("item")
* set1.update(set2) : Add elements from set2 to set1
* set1.remove("item")
* set1.discard("item")
* set.pop() : Remove last item
* set.clear()" empties the list
* del set : will delete the set completely
* set3 = set1.union(set2) 
* set1.update(set2) # modifies set1
* set1.intersection_update(set2) # modifies set1
* set3 = set1.intersection(set2) 
* set1.symmetric_difference_update(set2) # keep only the elements that are NOT present in both sets
* set3 = set1.symmetric_difference_update(set2) # contains only the elements that are NOT present in both sets: x^y

Set Operations: Both variables should be of same data type
* x.union(y) : x|y
* x.intersection(y) : x&y
* x.difference(y) : x-y
* y.difference(x)

Difference of two sets or lists
* x = set(pd.unique(df['Var']))
* y = set(pd.unique(df['Var1']))
* z = x-y 
* x.difference(y)

### Dictionary
* dict(zip(list1,list2)) : returns dictionary
* i, j in d.tems()
* d.keys()
* d.values()

In [ ]:
key = ['a','b','c']
value = [1,2,3]
print(dict(zip(key,value)))

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d = { "geeks" : "for", "only" : "geeks" }
      
# using items to print the dictionary key-value pair 
print ("The key value pair using items is : ") 
for i,j in d.items(): 
    print(i,j)

The key value pair using items is :
geeks for
only geeks

In [ ]:
d = {'id':7, 'name':'Shiba', 'color':'brown', 'speed':'very slow'}
list(d) # Extracting only keys

['id', 'name', 'color', 'speed']

In [ ]:
d = {'z':3, 'd':4, 'b':2, 'x':1}
sorted(d.items()) # Sorted based on keys

[('b', 2), ('d', 4), ('x', 1), ('z', 3)]

In [ ]:
print(sorted(d.values()))
print(sorted(d.keys()))

[1, 2, 3, 4]
['b', 'd', 'x', 'z']

In [ ]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}

print(thisdict["model"])
print(thisdict.get("model"))
print(thisdict.keys())
print(thisdict.values())
print(thisdict.items())

thisdict.update({"year": 2020}) #update values for keys
print(thisdict)

thisdict["year"] = 2018
print(thisdict)

thisdict.update({"color": "red"})
print(thisdict)

thisdict.pop("model") # Remove item with the mentioned key name
print(thisdict)

thisdict.popitem() # Removes the last inserted item
print(thisdict)

print("\n")
for x in thisdict:
  print(x)
  print(thisdict[x])
  print(f"{x}: {thisdict[x]}","\n")

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}
{'brand': 'Ford', 'year': 2018, 'color': 'red'}
{'brand': 'Ford', 'year': 2018}


brand
Ford
brand: Ford

year
2018
year: 2018

In [ ]:
### Extracting a subset from dictionary based on values or keys
# example of extracting a subset from a dictionary
from pprint import pprint
prices = {'ACME': 45.23,   'AAPL': 612.78,   'IBM': 205.55,   'HPQ': 37.20,   'FB': 10.75}

# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }
print("All prices over 200")
pprint(p1)

# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }
print("All techs")
pprint(p2)

All prices over 200
{'AAPL': 612.78, 'IBM': 205.55}
All techs
{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

In [ ]:
# Dictionaries within a dictionary
myfamily = {
  "child1" : {"name" : "Emil","year" : 2004},
  "child2" : {"name" : "Tobias","year" : 2007},
  "child3" : {"name" : "Linus","year" : 2011} 
  }
print(myfamily["child1"]['year'])
print(myfamily["child1"])

print("\nDictionaries within a list")
friends = [{"name": "Rolf", "age": 24},
           {"name": "Sandy", "age": 27},
           {"name": "Sam", "age": 30},]
print(friends[1]["name"])

2004
{'name': 'Emil', 'year': 2004}

Dictionaries within a list
Sandy

In [ ]:
# Create dictionary
def names(**kwargs):
  print(kwargs)

names(name="Sandy", age=27)

{'name': 'Sandy', 'age': 27}

### Counter
* c.update() 
* list(c.elements()) : keys with counts>0
* c.most_common(3) : n most frequently encountered input values and their respective counts

In [ ]:
from collections import Counter 
  
# With sequence of items  
print(Counter(['B','B','A','B','C','A','B','B','A','C'])) 
  
# with dictionary 
print(Counter({'A':3, 'B':5, 'C':2})) 
  
# with keyword arguments 
print(Counter(A=3, B=5, C=2))

Counter({'B': 5, 'A': 3, 'C': 2})
Counter({'B': 5, 'A': 3, 'C': 2})
Counter({'B': 5, 'A': 3, 'C': 2})

In [ ]:
import collections

c = collections.Counter()
print('Initial :', c)

c.update('abcdaab')
print('Sequence:', c)

c.update({'a':1, 'd':5})
print('Dict    :', c)

c['z'] =0
print("\n",c)
print(list(c.elements())) # items with counts less than 0 are not included
print(c.most_common(3))

Initial : Counter()
Sequence: Counter({'a': 3, 'b': 2, 'c': 1, 'd': 1})
Dict    : Counter({'d': 6, 'a': 4, 'b': 2, 'c': 1})

 Counter({'d': 6, 'a': 4, 'b': 2, 'c': 1, 'z': 0})
['a', 'a', 'a', 'a', 'b', 'b', 'c', 'd', 'd', 'd', 'd', 'd', 'd']
[('d', 6), ('a', 4), ('b', 2)]

### List Comprehension
https://realpython.com/list-comprehension-python/
* map(function,list) : applies function to the list and returns the list
* Instead of for loops and map() use list comprehension


* filter(fn, list)
* list_function = [fn(i) for i in list]  ; [expression for member in iterable]
* list_filtered = [fn(i) for i in list if i > 0] ; [expression for member in iterable (if conditional)]
* new_list = [expression (if conditional) for member in iterable] ; to modify values in list
* walrus operator

In [ ]:
print(list(map(lambda x: x**2, range(10))))
print([x**2 for x in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
print([i**2 for i in original_prices])
print([i for i in original_prices if i>0]) # data is filtered
print([i if i > 0 else 0 for i in original_prices])

print("\n Create sets: ",{i for i in original_prices if i>0})
print("\n Create Dictionaries: ",{i: i * i for i in range(10)})

[1.5625, 89.30249999999998, 104.4484, 14.2884, 35.0464, 1.3456]
[1.25, 10.22, 3.78, 1.16]
[1.25, 0, 10.22, 3.78, 0, 1.16]

 Create sets:  {1.25, 10.22, 3.78, 1.16}

 Create Dictionaries:  {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# walrus operator (:=)
import random
def get_weather_data():
    return random.randrange(90, 110)
hot_temps = [temp for _ in range(20) if (temp := get_weather_data()) >= 100] #assignment of variables starting in python 3.8
hot_temps

SyntaxError: ignored

In [ ]:
print("create lists for each key with in a dictionary")
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {city: [_ for _ in range(7)] for city in cities}
temps

create lists for each key with in a dictionary

{'Austin': [0, 1, 2, 3, 4, 5, 6],
 'Charlotte': [0, 1, 2, 3, 4, 5, 6],
 'Sacramento': [0, 1, 2, 3, 4, 5, 6],
 'Tacoma': [0, 1, 2, 3, 4, 5, 6],
 'Topeka': [0, 1, 2, 3, 4, 5, 6]}

In [ ]:
print("Matrix")
matrix = [[i for i in range(5)] for _ in range(6)] # for _ in range(6) creates rows, inner [i for i in range(5)] creates 
matrix

Matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [ ]:
print("Transpose of a matrix")
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)] #range(2) as there are 0,1 indexed columns
print (transpose)

Transpose of a matrix
[[1, 3, 5, 7], [2, 4, 6, 8]]

In [ ]:
print("Transpose of a matrix")
list(zip(*matrix))

Transpose of a matrix

[(1, 3, 5, 7), (2, 4, 6, 8)]

In [ ]:
# flatten a matrix
matrix = [
    [0, 0, 0],
    [1, 1, 1],
    [2, 2, 2],
]
flat = [num for row in matrix for num in row]
flat

[0, 0, 0, 1, 1, 1, 2, 2, 2]

### if-else statements
* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b
* a > b and c > a
* a > b OR c > a
* if bool(x)==Ture is same as if x:
* if bool(x)==False is same as if not x:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
# One-line statement
a = 200
b = 33
if a > b: print("a is greater than b")

a is greater than b

### Loops
*  key words: True, False, None, and, or, not
  * break (break out of the loop and passes the control to the statement following immediately after loop)
  * pass (null statement, do nothing in a if statement)
  * continue (skips the current iteration of the loop, but does not end the loop)
  * class (to declare user defined classes)
  * def (declare user defined functions)
  * if, elif, else
  * del (used to delete a reference to an object)
  * try (used for exception handling)
  * except, raise, finally

In [ ]:
# continue forces the loop to start at the next iteration while pass means "there is no code to execute here" and will continue through the remainder or the loop body. 
# continue will jump back to the top of the loop. pass will continue processing
# if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error
a = [1,2,3,4,5]
for i in a:
    if i > 3:
        pass
    print(i)

1
2
3
4
5

In [ ]:
# continue forces the loop to start at the next iteration
for i in a:
    if i < 3:
        continue
    print(i)

3
4
5

In [ ]:
# With the break statement we can stop the loop even if the while condition is true:
for i in a:
    if i == 3:
        break
    print(i)

1
2

In [ ]:
# Nested for loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# else clause in while loop
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

### Functions
* def addtwo(x, y=5): #Here y is default parameter, it takes the value mentioned 
* def addtwo(x=5, y): # Gives ERROR as default parameters must be mentioned at the end
* def addtwo(y, x-3): # x is mentioned as a default parameter - and specified at the end

In [ ]:
# Return statement in a function returns a value after the function is executed
# Print statement in a function returns NONE after the function is executed
def addtwo(x,y):
  return x+y
  print(x+y) # Print statement is not executed because it is after the return statement

print(addtwo(5,8))

13

In [ ]:
# lambda function - Get input and return output
# Lambda: A lambda function can take any number of arguments, but can only have one expression
addtwoNum = lambda x, y: x+y 
print(addtwoNum(5,7))

# Calling 5,7 as x,y on lambda functions
print((lambda x, y: x+y)(3,7))

sequence = [1, 3, 5, 9]
doubled = set(map(lambda x: x * 2,sequence)) # Order is lost in sets
print("set",doubled) 
print("list",[*doubled])

doubled = map(lambda x: x * 2,sequence) # function is applied on sequence in order
print([*doubled]) # Convert map to list

12
10
set {18, 2, 10, 6}
list [18, 2, 10, 6]
[2, 6, 10, 18]

In [ ]:
# Applying function on a sequence
def double(x):
  return x*2

sequence = [1,3,5,9]

# 1st way
DoubledSequence = [double(x) for x in sequence]
print(DoubledSequence)

# 2nd way - map(function,array)
# Convert map object to set and then to list
DoubledSequence = map(double, sequence) 
print([*DoubledSequence]) # Convert map to list

# 3rd way - lambda
DoubledSequence = [(lambda x: x*2)(x) for x in sequence]
print(DoubledSequence)
DoubledSequence = map(lambda x: x*2, sequence) # Order is lost in sets
print([*DoubledSequence]) # Convert map to list

[2, 6, 10, 18]
[2, 6, 10, 18]
[2, 6, 10, 18]
[2, 6, 10, 18]

In [ ]:
# Multiple arguments - iterating more the previous value
def multiply(*args):
  total=1
  for arg in args:
    total = total*arg
  return total

multiply(1,3,5)

15

In [ ]:
"""If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
This way the function will receive a tuple of arguments, and can access the items accordingly:"""
def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

In [ ]:
"""If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
This way the function will receive a dictionary of arguments, and can access the items accordingly:"""
def my_function(**kid):
  print("His last name is " + kid["lname"])
my_function(fname = "Tobias", lname = "Refsnes")

### Recursion

In [ ]:
# Recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

In [ ]:
def recursive_fibonacci(n): 
   if n <= 1: 
       return n 
   else: 
       return(recursive_fibonacci(n-1) + recursive_fibonacci(n-2))
recursive_fibonacci(10)

55

### Regular Expressions
https://www.rexegg.com/regex-quickstart.html </br>
http://www.pyregex.com/
* re.search(regex_pattern, text) : Searches for first occurrence of the pattern and returns match obj
* re.match(regex_pattern, text) : Searches only at the beginning of the text
* re.findall(regex_pattern, text) : Returns a list containing all matches
* re.finditer(regex_pattern, text) : Returns all occurrences as match objects
* re.sub(regex_pattern, repl, string) : Substitutes all occurrences with 'new'
* re.split(regex_pattern, text, maxsplit=0) : Use brackets in regex to include the matches
* re.compile(pattern)

In [ ]:
import re

# Search entire string and returns first match
# printing matched string and its indices in the original string
result = re.search(r'Analytics', 'AV Analytics Vidhya AV Analytics')
print(result.group(0),result.start(),result.end())

Analytics 3 12

In [ ]:
# pattern is in lower case hence ignore case flag helps in matching same pattern with different cases
# printing matched string and its indices in the original string
# match does not work when pattern is not there in the beginning of string
result = re.match(r'av', 'AVAnalytics Vidhya AV', flags=re.IGNORECASE)
print(result.group(0),result.start(),result.end())
print(result)

AV 0 2
<_sre.SRE_Match object; span=(0, 2), match='AV'>

In [ ]:
result = re.findall(r'AV', 'AV Analytics Vidhya AV')
print(result)

['AV', 'AV']

In [ ]:
# re.sub(regex_pattern, repl, string)
result=re.sub(r'India','the World','AV is largest Analytics community of India')
print(result)

AV is largest Analytics community of the World

In [ ]:
result=re.split(r'y','Analytics Sandhya')
print(result)
print(re.split(r'y','Analytics Sandhya',maxsplit=1))

['Anal', 'tics Sandh', 'a']
['Anal', 'tics Sandhya']

In [ ]:
result = re.finditer(r'AV', 'AV Analytics Vidhya AV')
for i in result:
  print(i,i.start(),i.end())

<_sre.SRE_Match object; span=(0, 2), match='AV'> 0 2
<_sre.SRE_Match object; span=(20, 22), match='AV'> 20 22

In [ ]:
# re.compile(pattern)
pattern=re.compile('AV')
result=pattern.findall('AV Analytics Vidhya AV')
print(result)

['AV', 'AV']

### DataTime: https://strftime.org/
https://docs.python.org/3/library/datetime.html
* strftime : Convert object to a string according to a given format 
  * strftime(format)
* strptime : Parse a string into a datetime object given a corresponding format
  * strptime(date_string, format)

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)
print(x.year)
print(x.strftime("%A"))

2021-02-05 06:51:44.425734
2021
Friday

In [ ]:
d = datetime.datetime(1992, 6, 30, 7, 28, 0)
print(d.strftime("%d/%m/%y"))

30/06/92

In [ ]:
date_string = "30 June, 1992"
datetime.datetime.strptime(date_string, "%d %B, %Y")

datetime.datetime(1992, 6, 30, 0, 0)

In [ ]:
from datetime import timedelta
delta = timedelta(
    days=50,
    seconds=27,
    microseconds=10,
    milliseconds=29000,
    minutes=5,
    hours=8,
    weeks=2)

print(delta)
delta

64 days, 8:05:56.000010

datetime.timedelta(64, 29156, 10)

### Printing
* f-strings
* format function
* %
* d for int, f for float values, o for octal values, E for exponential.
* General syntax is %[flags][width][.precision]type. %2d if used on int=1, will be printed with a leading blank

In [ ]:
# f-strings
print("f-strings are used to use dynamic variables:")
name = "Sandy"
print(f"Hello, {name}")

print("\nRestrict decimal places")
# any value you enter in the input function, it sees as a string. It doesn't matter if you enter digits or letters, the input will be converted to a string.
# to get numeric int(input())
size = input("What is size of your house in sq ft : ")  
x = float(size)/10.8
print(f"Sq meters = {x:.2f}")
print(f"Sq ft = {x*10.8:.2f}")

f-strings are used to use dynamic variables:
Hello, Sandy

Restrict decimal places
What is size of your house in sq ft : 100
Sq meters = 9.26
Sq ft = 100.00

In [ ]:
num1 = float(input("Enter one number:"))
num2 = float(input("Enter second number:"))
print(num1+num2)

Enter one number:2
Enter second number:23
25.0
lalalalalalala

In [ ]:
print("la"*7)
print(list('danger!'))  # splits the word into characters
print(['danger!'])  # [] doesn't split into characters

lalalalalalala
['d', 'a', 'n', 'g', 'e', 'r', '!']
['danger!']

In [ ]:
# format
print("Use format function:")
name = "Sandhya"
print("Hello, {}".format(name))
print("Hello, {}".format("Aparna"))

print("\nUse 2 dynamic variables:")
print("Hello {} and {}".format("Sandhya","Aparna"))

print('Hello {} {}, it is a great {} to meet you at {} o\' clock'.format('Sir', 'Arthur', 'honor', 9))
print('I have a {food_item} and a {drink_item} with me'.format(drink_item='soda', food_item='sandwich'))
print('The {animal} has the following attributes: {attributes}'.format(animal='dog', attributes=['lazy', 'loyal']))

Use format function:
Hello, Sandhya
Hello, Aparna

Use 2 dynamic variables:
Hello Sandhya and Aparna
Hello Sir Arthur, it is a great honor to meet you at 9 o' clock
I have a sandwich and a soda with me
The dog has the following attributes: ['lazy', 'loyal']

In [ ]:
# Input
print("Based on user input -  Strings")
name = input("What is your name? : ")
print("Hello {}".format(name))

# Multiple inputs: split(), numbers are inputed using space
x, y = input("\nMultiple Inputs:Enter a two value: ").split() # input x y
print("Number of boys: ", x)
print("Number of girls: ", y)

Based on user input -  Strings
What is your name? : x
Hello x

Multiple Inputs:Enter a two value: x y
Number of boys:  x
Number of girls:  y

In [ ]:
# % style
print('We have %d %s containing %.2f gallons of %s' %(2, 'bottles', 2.5, 'milk'))
print('We have %d %s containing %.2f gallons of %s' %(5.21, 'jugs', 10.86763, 'juice'))

We have 2 bottles containing 2.50 gallons of milk
We have 5 jugs containing 10.87 gallons of juice

In [ ]:
s = [1,2,3]
for x in s:
  print(x,sep="-")

print(1,2,3,sep='-')

for x in s:
  print(x,end="")

1
2
3
1-2-3
123

### Collections

In [ ]:
# A Python program to demonstrate working of OrderedDict 
"""An OrderedDict is a dictionary subclass that remembers the order that keys were first inserted. The only difference between dict() and OrderedDict() is that:

OrderedDict preserves the order in which the keys are inserted. A regular dict doesn’t track the insertion order, and iterating it gives the values in an arbitrary order. By contrast, the order the items are inserted is remembered by OrderedDict."""
from collections import OrderedDict 
  
print("This is a Dict:\n") 
d = {} 
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
  
for key, value in d.items(): 
    print(key, value)

This is a Dict:

a 1
b 2
c 3
d 4

In [ ]:
# A Python program to demonstrate working of key  
# value change in OrderedDict 
from collections import OrderedDict   
  
print("Before:\n") 
od = OrderedDict() 
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
for key, value in od.items(): 
    print(key, value) 
  
print("\nAfter:\n") 
od['c'] = 5
for key, value in od.items(): 
    print(key, value)

Before:

a 1
b 2
c 3
d 4

After:

a 1
b 2
c 5
d 4

In [ ]:
# A Python program to demonstrate working of deletion  
# re-inserion in OrderedDict 
from collections import OrderedDict 
  
print("Before deleting:\n") 
od = OrderedDict() 
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
  
for key, value in od.items(): 
    print(key, value) 
  
print("\nAfter deleting:\n") 
od.pop('c') 
for key, value in od.items(): 
    print(key, value) 
  
print("\nAfter re-inserting:\n") 
od['c'] = 3
for key, value in od.items(): 
    print(key, value)

Before deleting:

a 1
b 2
c 3
d 4

After deleting:

a 1
b 2
d 4

After re-inserting:

a 1
b 2
d 4
c 3

In [ ]:
# ChainMap:Python contains a container called “ChainMap” which encapsulates many dictionaries into one unit. 
# importing collections for ChainMap operations 
import collections 
  
# initializing dictionaries 
dic1 = { 'a' : 1, 'b' : 2 } 
dic2 = { 'b' : 3, 'c' : 4 } 
  
# initializing ChainMap 
chain = collections.ChainMap(dic1, dic2) 
  
# printing chainMap using maps 
print ("All the ChainMap contents are : ") 
print (chain.maps) 
  
# printing keys using keys() 
print ("All keys of ChainMap are : ") 
print (list(chain.keys())) 
  
# printing keys using keys() 
print ("All values of ChainMap are : ") 
print (list(chain.values()))

All the ChainMap contents are :
[{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]
All keys of ChainMap are :
['b', 'a', 'c']
All values of ChainMap are :
[2, 1, 4]

In [ ]:
# new_child() :- This function adds a new dictionary in the beginning of the ChainMap
print(chain.new_child({ 'f' : 5 }))

print(reversed(chain.maps))

ChainMap({'f': 5}, {'a': 1, 'b': 2}, {'b': 3, 'c': 4})
<list_reverseiterator object at 0x7efd03fe5fd0>

### Class

In [ ]:
class Student:
    def __init__(self):
        self.name = "Rolf"
        self.grades = (89, 90, 93, 78, 90)

print(Student().name)
print(Student().grades)

Rolf
(89, 90, 93, 78, 90)

In [ ]:
student = {"name": "Rolf", "grades": (89, 90, 93, 78, 90)}

def average(sequence):
    return sum(sequence) / len(sequence)

print(average(student["grades"]))

88.0

In [ ]:
# But wouldn't it be nice if we could...
# print(student.average()) ?

class Student:
    def __init__(self):
        self.name = "Rolf"
        self.grades = (89, 90, 93, 78, 90)

    def average(self): #self is Student()
        return sum(self.grades) / len(self.grades)

student = Student()
print(student.average())
# Identical to Student.average(student)

88.0

In [ ]:
# -- Parameters in __init__ --
class Student:
    def __init__(self, name, grades):
        self.name = name
        self.grades = grades

    def average(self):
        return sum(self.grades) / len(self.grades)


student = Student("Bob", (36, 67, 90, 100, 100))
print(student.average())

78.6

In [ ]:
# -- Remember *args ? --
class Student:
    def __init__(self, name, *grades):
        self.name = name
        self.grades = grades

    def average(self):
        return sum(self.grades) / len(self.grades)


student = Student("Bob", 36, 67, 90, 100, 100)
print(student.average())

78.6

In [ ]:
# A function that lives inside a class is called a method.
# So, methods are functions, but not all functions are methods.
def average(sequence):
    return sum(sequence) / len(sequence)

class Student:
    def __init__(self):  # method
        self.name = "Rolf"
        self.grades = (79, 90, 95, 99)
    
    def average(self):  # method
        return sum(self.grades) / len(self.grades)

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age


bob = Person("Bob", 35)
print(bob)  # Not the nicest thing to read!

<__main__.Person object at 0x7efd037787f0>

In [ ]:
# -- __str__ --
# The goal of __str__ is to return a nice, easy to read string for end users.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Person {self.name}, {self.age} years old"


bob = Person("Bob", 35)
print(bob)  # Much nicer

Person Bob, 35 years old

In [ ]:
# -- __repr__ --
# The goal of __repr__ is to be unambiguous, and if possible what it outputs should allow us to re-create an identical object.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        # I'm adding the < > just so it's clear that this is an object we're printing out!
        return (
            f"<Person({self.name!r}, {self.age})>"
        )  # !r calls the __repr__ method of the thing.


bob = Person("Bob", 35)
print(bob)  # Not as nice, but we could re-create "Bob" very easily.

<Person('Bob', 35)>

In [ ]:
class ClassTest:
    def instance_method(self):
        print(f"Called instance_method of {self}")

    @classmethod
    def class_method(cls):
        print(f"Called class_method of {cls}")

    @staticmethod
    def static_method():
        print(f"Called static_method. We don't get any object or class info here.")


instance = ClassTest()
instance.instance_method()

ClassTest.class_method()
ClassTest.static_method()

Called instance_method of <__main__.ClassTest object at 0x7efd03718940>
Called class_method of <class '__main__.ClassTest'>
Called static_method. We don't get any object or class info here.

In [ ]:
# -- What are they used for? --
# Instance methods are used for most things. When you want to produce an action that uses the data stored in an object.
# Static methods are used to just place a method inside a class because you feel it belongs there (i.e. for code organisation, mostly!)
# Class methods are often used as factories.
class Book:
    TYPES = ("hardcover", "paperback")

    def __init__(self, name, book_type, weight):
        self.name = name
        self.book_type = book_type
        self.weight = weight

    def __repr__(self):
        return f"<Book {self.name}, {self.book_type}, weighing {self.weight}g>"

    @classmethod
    def hardcover(cls, name, page_weight):
        return cls(name, cls.TYPES[0], page_weight + 100)

    @classmethod
    def paperback(cls, name, page_weight):
        return cls(name, cls.TYPES[1], page_weight)


heavy = Book.hardcover("Harry Potter", 1500)
light = Book.paperback("Python 101", 600)

print(heavy)
print(light)

<Book Harry Potter, hardcover, weighing 1600g>
<Book Python 101, paperback, weighing 600g>

In [ ]:
class Device:
    def __init__(self, name, connected_by):
        self.name = name
        self.connected_by = connected_by
        self.connected = True

    def __str__(self):
        return f"Device {self.name!r} ({self.connected_by})"

    def disconnect(self):
        self.connected = False


# printer = Device("Printer", "USB")
# print(printer)

# We don't want to add printer-specific stuff to Device, so...

Comparision of speed of code in pandas

In [1]:
# for loop by looping through the data frame

import seaborn as sns
import time

data = sns.load_dataset('iris')

def compute_class(petal_length):
    if petal_length <= 2:
        return 1
    elif 2 < petal_length < 5:
        return 2
    else:
        return 3

start = time.time()

class_list = list()
for i in range(len(data)):
    petal_length = data.iloc[i]['petal_length']
    class_num = compute_class(petal_length)
    class_list.append(class_num)

end = time.time()
print("For-loop run time = {}".format(end - start))

For-loop run time = 0.021352767944335938

In [ ]:
temp=[]
for idx in range(0,df.shape[0],1):
name_new = df['name'].iloc[idx].strip()
temp.append(name_new)

In [2]:
# iterrows: The .iterrows() function from Pandas implements a generator function internally which will yield a row of the Dataframe on each iteration. 
# More precisely, .iterrows() yields pairs (tuples) of (index, Series) for each row in the DataFrame. This is effectively the same as using something like enumerate() in raw Python but runs much much faster

start = time.time()

class_list = list()
for index, data_row in data.iterrows():
    petal_length = data_row['petal_length']
    class_num = compute_class(petal_length)
    class_list.append(class_num)

end = time.time()
print("Iterrows run time = {}".format(end - start))

Iterrows run time = 0.03573131561279297

In [5]:
for index, data_row in data.iterrows():
  if index < 2:
    print(index)
    print(data_row)
  else:
    end

0
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
1
sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object

In [ ]:
temp=[]
for i,row in df.iterrows():
name_new = row['name'].strip()
temp.append(name_new)

In [6]:
# Dropping loops completely with .apply(): The reason that .apply() is so much faster is that it internally tries to loop over Cython iterators. 
# If your function happens to be well-optimised for Cython, .apply() will get you an even bigger speed up. As a bonus, using the built-in functions results in much cleaner and readable code

start = time.time()

class_list = data.apply(lambda row: compute_class(row['petal_length']), axis=1)

end = time.time()
print(".apply() run time = {}".format(end - start))

.apply() run time = 0.023823261260986328

In [ ]:
# You can iterate over the data frame and perform your operations with lightning-fast speed by just converting your Pandas data frame into a dictionary. 
df_dict = df.to_dict('records')
temp=[]
for row in df_dict:
name_new = row['name'].strip()
temp.append(name_new)