<a href="https://colab.research.google.com/github/sandhyaparna/Python-DataScience-CookBook/blob/master/Interview%20Questions/Python_Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### String formatting in Python https://healthedge.udemy.com/course/rest-api-flask-and-python/learn/lecture/15927434#overview

In [ ]:
print(" f-strings are used to use dynamic variables ")

name = "Sandy"
print(f"Hello {name}")

 f-strings are used to use dynamic variables
Hello Sandy

In [ ]:
print("Use format function")
name = "Sandhya"
print("Hello {}".format(name))
print("Hello {}".format("Aparna"))

Hello Sandhya
Hello Aparna

In [ ]:
print("Use 2 dynamic variables")
print("Hello {} {}".format("Sandhya","Aparna"))

Hello Sandhya Aparna

In [ ]:
print("Based on user input -  Strings")
name = input("What is your name? : ")
print("Hello {}".format(name))

What is your name? : SandhyaA
Hello SandhyaA

In [ ]:
print("Based on user input -  Numeric")
size = input("What is size of your house in sq ft : ") # Taken as string
print("Sq meters =",float(size)/10.8)

Based on user input -  Numeric
What is size of your house in sq ft : 502
Sq meters = 46.48148148148148

In [ ]:
print("Restrict decimal places")
size = input("What is size of your house in sq ft : ")
x = float(size)/10.8
print(f"Sq meters = {x:.2f}")

What is size of your house in sq ft : 500
Sq meters = 46.30

In [ ]:
print("Restrict decimal places -Without creating a variable")
size = float(input("What is size of your house in sq ft : "))
print(f"Sq meters = {size/10.8:.2f}")

Without creating a variable
What is size of your house in sq ft : 500
Sq meters = 46.30

### List, Tuples & sets https://healthedge.udemy.com/course/rest-api-flask-and-python/learn/lecture/5960062#overview

In [ ]:
list = ["A","B","C"] # Order is maintained
Tuple = ("A","B","C") # Cannot add elements to Tuples or elements cannot be modified; Order is maintained
Set = {"A","B","C"} # Set cannot have duplicate values, Order may or maynot be maintained

print(list[0])
print(Tuple[0])
# print(set[0]) # Wrong becoz order is not maintained

list[0] = "E" #One of its element can be modified
print(list)
list.append("D") #Add
print(list)
list.remove("B")
print(list)
# Tuple[0] = "D" # Wrong becoz u cannot modify Tuple

Set.add("D")
print(Set)

A
A
['E', 'B', 'C']
['E', 'B', 'C', 'D']
['E', 'C', 'D']
{'D', 'A', 'B', 'C'}

In [ ]:
### Set Operations ###
# Both variables should be of same data type
# x UNION y
x.union(y)
# x INTERSECTION y
x.intersection(y)
# x members not in y
x.difference(y)
# y members not in x
y.difference(x)

## Difference of two sets or lists
x = set(pd.unique(df['Var']))
y = set(pd.unique(df['Var1']))
z = x-y (or) x.difference(y)

In [ ]:
print("2 equal signs are used for comparision")

In [ ]:
print("if else statement")
x = input("give a value to x:")

if x=='5':   # if x in {'4','5','6'}
  print(f"it is {x}")
elif x=='10':
  print(f"it is ({x}/2)")
else:
  print("Nothing")

give a value to x:14
Nothing

In [ ]:
for friend in ["A","B","C"]:
  print(f"{friend} is my friend")

A is my friend
B is my friend
C is my friend

In [ ]:
grades = [35,67,98,100,100]
total = 0
amount = len(grades)

for grade in grades:
  total += grade
print(total)

400

In [ ]:
sum(grades)

400

In [ ]:
print("List Comprehension")
numbers = [1,3,5]
doubled = [x*2 for x in numbers]
doubled

List Comprehension

[2, 6, 10]

In [ ]:
print("Extract words that start with S in the list")
friends = ["Roy" , "Sandy" , "Sam" ,"Gau"]
starts_s = [x for x in friends if x.startswith("S")]
starts_s

Extract words that start with S in the list

['Sandy', 'Sam']

In [ ]:
print("Dictionaries")
friend_ages = {"Rolf":24, "Sandy":27, "Sam": 30}
friend_ages["Sandy"]

friend_ages["Bob"] =25 #Modify or add an element to the dictionary

Dictionaries

27

In [ ]:
friends = [
           {"name": "Rolf", "age": 24},
           {"name": "Sandy", "age": 27},
           {"name": "Sam", "age": 30},
]
friends[1]["name"]

'Sandy'

In [ ]:
friend_ages = {"Rolf":24, "Sandy":27, "Sam": 30}

for x in friend_ages:
  print(x)

Rolf
Sandy
Sam

In [ ]:
friend_ages = {"Rolf":24, "Sandy":27, "Sam": 30}

for x in friend_ages:
  print(f"{x}: {friend_ages[x]}")

print("Same result")
for x,y in friend_ages.items():
  print(f"{x}: {y}")

print(friend_ages.values())
print(sum(friend_ages.values()))

print(friend_ages.items())

print(list(friend_ages.items()))

Rolf: 24
Sandy: 27
Sam: 30
Same result
Rolf: 24
Sandy: 27
Sam: 30
dict_values([24, 27, 30])
81
dict_items([('Rolf', 24), ('Sandy', 27), ('Sam', 30)])
[('Rolf', 24), ('Sandy', 27), ('Sam', 30)]

In [ ]:
# To ignore a variable - use underscore - https://healthedge.udemy.com/course/rest-api-flask-and-python/learn/lecture/15927666#overview
person = ("Sandy", 27, "DS")
name, _, profession = person
print(name, profession)

Sandy DS

In [ ]:
# Seperate a list into 2 elements: 1st and all other into 1
# * is used for collectiong
head, *tail = [1,2,3,4,5]
print(head)
print(tail)

1
[2, 3, 4, 5]

In [ ]:
head, *tail, y = [1,2,3,4,5]
print(head)
print(tail)
print(y)

1
[2, 3, 4]
5

### Functions

In [ ]:
def hello():
  print("Hello!")

In [ ]:
def age_in_secs():
  age = int(input("Enter your age:"))
  age_secs = age*365*24*60*60
  print(f"Your age in seconds is {age_secs}")

In [ ]:
age_in_secs()

Enter your age:27
Your age in seconds is 851472000

In [ ]:
# positional Arguments
def say_hello():
  print("Hello Sandy!")

say_hello()

Hello Sandy!

In [ ]:
def say_hello(name):
  print(f"Hello {name}")

say_hello("sandy")

Hello sandy

In [ ]:
def say_hello(name, surname):
  print(f"Hello {name} {surname}")

say_hello("sandy", "pashikanti")

Hello sandy pashikanti

In [ ]:
# When variables are mentioned, then 
def say_hello(name, surname):
  print(f"Hello {name} {surname}")

say_hello(surname="pashikanti" , name="sandy" )

Hello sandy pashikanti

In [ ]:
def addtwo(x, y=5): #Here y is default parameter, it takes the value mentioned 

def addtwo(x=5, y): # Gives ERROR as default parameters must be mentioned at the end

def addtwo(y, x-3): # x is mentioned as a default parameter - and specified at the end

In [ ]:
def add2(x,y):
  print(x+y)

add2(5,8)
print(add2(5,8)) # Here add2(5,8) is called and then the function returns None

13
13
None

In [ ]:
# Return statement in a function returns a value after the function is executed
# Print statement in a function returns NONE after the function is executed
def addtwo(x,y):
  return x+y

addtwo(5,8)
print(addtwo(5,8))

13

In [ ]:
def addtwo(x,y):
  return x+y
  print(x+y) # Print statement is not executed because it is after the return statement

In [ ]:
# lambda function - Get input and return output
addtwoNum = lambda x, y: x+y 
print(addtwoNum(5,7))

12

In [ ]:
# Calling 5,7 as x,y on lambda functions
(lambda x, y: x+y)(5,7)

12

In [ ]:
# Applying function on a sequence
def double(x):
  return x*2

sequence = [1,3,5,9]

# 1st way
DoubledSequence = [double(x) for x in sequence]

# 2nd way
DoubledSequence = map(double, sequence)

# 3rd way - lambda
DoubledSequence = [(lambda x: x*2)(x) for x in sequence]
DoubledSequence = map(lambda x: x*2, sequence)

print(list(DoubledSequence))

In [ ]:
# Multiple arguments - iterating more the previous value
def multiply(*args):
  print(args)

multiply(1,3,5)

(1, 3, 5)

In [ ]:
# Multiple arguments - iterating more the previous value
def multiply(*args):
  total=1
  for arg in args:
    total = total*arg
  return total

multiply(1,3,5)

15

In [ ]:
nums = [3,5]
print(*nums)

3 5

In [ ]:
# Create dictionary
def names(**kwargs):
  print(kwargs)

names(name="Sandy", age=27)

{'name': 'Sandy', 'age': 27}



```
# This is formatted as code
```

# Flask
### https://github.com/schoolofcode-me/rest-api-sections/tree/master/section3

In [ ]:
!pip install flask

In [ ]:
from flask import Flask

In [ ]:
app = Flask(__name__) #Created an object called flask

@app.route('/') # By default it is GET request
def home():
  return "Hello, world!"

app.run(port=5000)

In [ ]:
# Web server - Accepts web requests 
# GET Request - GET / HTTP/1.1 - 'GET' is verb, '/' is path, 'HTTP/1.1' is protocol
# '/' is usually homepage path

# GET - Retrieve sth - GET /item/1
# POST - Recieve data and use it - POST /item
# PUT - Make sure sth is there - PUT /item
# DELETE - Remove sth - DELETE /item/1

In [ ]:
# REST API - responds with resources
# Stateless - One request cannot depend on other requests i.e server knows only current request
# Since it is Stateless - when a user logs into a web application - server does not know that the user is logged in - 
# - So web application  must send enough data to identify the user IN EVERY REQUEST, or else the server wont associate the request with the user

In [ ]:
# POST is used to receive data
# GET is used to send back data
from flask import jasonify

app = Flask(__name__) #Created an object called flask
stores = [
          {
           'name':'My Wonderful Store'
           'items': [
            {
             'name': 'My Item'
             'price': 15.99
            } #
           ]   
          } #Single dictionary
]

# create store
@app.route('/store', methods =['POST'])
def create_store():
  pass

# GET store
@app.route('/store/<string:name>')
def get_store(name):
  pass

@app.route('/store')
def get_stores():
  return jsonify(stores)

@app.route('/store/<string:name>/item', methods =['POST'])
def create_item_in_store(name):
  pass

@app.route('/store/<string:name>/item')
def get_items_in_store(name):
  pass
  


app.run(port=5000)

In [ ]:
powersofTwo

[2, 4, 8, 16, 32]

In [ ]:
import numpy as np
import math
x = 3
y = 19
def powersofTwoBetwXY(x,y):
  p=np.int(np.ceil(math.log2(x)))
  q=np.int(np.ceil(math.log2(y)))
  powersofTwo = []
  for i in range(p,q):
    x = pow(2,i) 
    powersofTwo.append(x)
  print(powersofTwo)

In [ ]:
powersofTwoBetwXY(3,19)

[4, 8, 16]

In [ ]:
def nextPowerOf2(n): 
    count = 0; 
  
    # First n in the below  
    # condition is for the  
    # case where n is 0 
    if (n and not(n & (n - 1))): 
        return n 
      
    while( n != 0): 
        n >>= 1
        count += 1
      
    return 1 << count
    return count;

In [ ]:
def prime_factors_list(n):
    result = list()
    diviser = 2

    if n <= 0:
        return [] #empty list



    if n == 1:
        return [1]

    """We increment diviser when it does not divide n anymore"""
    while n != 1:
        if n % diviser == 0: # if 'diviser' divides n
            n = n / diviser
            result.append(diviser) # diviser works, we add it to the list
        else:
            diviser += 1 #diviser does not work, we try with a bigger one

    return result

In [ ]:
len(prime_factors_list(nextPowerOf2(19)))

5

In [ ]:
exp(32,2)

NameError: ignored