<a href="https://colab.research.google.com/github/sandhyaparna/Python-DataScience-CookBook/blob/master/Interview%20Questions/Python_Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Regular Expressions
s1 = 'Python is an excellent language'
s2 = 'I love the Python language. I also use Python to build applications at work!'

import re
pattern = 'python'
# match only returns a match if regex match is found at the beginning of the string
re.match(pattern, s1)

# pattern is in lower case hence ignore case flag helps
# in matching same pattern with different cases
re.match(pattern, s1, flags=re.IGNORECASE)

# printing matched string and its indices in the original string
m = re.match(pattern, s1, flags=re.IGNORECASE)
print('Found match {} ranging from index {} - {} in the string "{}"'.format(m.group(0), 
                                                                            m.start(), 
                                                                            m.end(), s1))
                                                                            
# match does not work when pattern is not there in the beginning of string s2
re.match(pattern, s2, re.IGNORECASE)

In [ ]:
name = "Rolf"

print(name)
print(name * 2)

In [ ]:
print(" f-strings are used to use dynamic variables ")

name = "Sandy"
print(f"Hello, {name}")

 f-strings are used to use dynamic variables
Hello Sandy

In [ ]:
print("Use format function")
name = "Sandhya"
print("Hello, {}".format(name))
print("Hello, {}".format("Aparna"))

Hello Sandhya
Hello Aparna

In [ ]:
print("Use 2 dynamic variables")
print("Hello {} {}".format("Sandhya","Aparna"))

Hello Sandhya Aparna

In [6]:
print("Based on user input -  Strings")
name = input("What is your name? : ")
print("Hello {}".format(name))

Based on user input -  Strings
What is your name? : SandhyaAparna
Hello SandhyaAparna

In [4]:
### New Style
print('Hello {} {}, it is a great {} to meet you at {}'.format('Mr.', 'Jones', 'pleasure', 5))
print('Hello {} {}, it is a great {} to meet you at {} o\' clock'.format('Sir', 'Arthur', 'honor', 9))
print('I have a {food_item} and a {drink_item} with me'.format(drink_item='soda', food_item='sandwich'))
print('The {animal} has the following attributes: {attributes}'.format(animal='dog', attributes=['lazy', 'loyal']))

Hello Mr. Jones, it is a great pleasure to meet you at 5
Hello Sir Arthur, it is a great honor to meet you at 9 o' clock
I have a sandwich and a soda with me
The dog has the following attributes: ['lazy', 'loyal']

In [ ]:
print("Based on user input -  Numeric")
size = input("What is size of your house in sq ft : ") # Taken as string
print("Sq meters =",float(size)/10.8)

Based on user input -  Numeric
What is size of your house in sq ft : 502
Sq meters = 46.48148148148148

In [ ]:
print("Restrict decimal places")
size = input("What is size of your house in sq ft : ")
x = float(size)/10.8
print(f"Sq meters = {x:.2f}")

What is size of your house in sq ft : 500
Sq meters = 46.30

In [ ]:
print("Restrict decimal places -Without creating a variable")
size = float(input("What is size of your house in sq ft : "))
print(f"Sq meters = {size/10.8:.2f}")

Without creating a variable
What is size of your house in sq ft : 500
Sq meters = 46.30

In [5]:
### Old style
print('We have %d %s containing %.2f gallons of %s' %(2, 'bottles', 2.5, 'milk'))
print('We have %d %s containing %.2f gallons of %s' %(5.21, 'jugs', 10.86763, 'juice'))

We have 2 bottles containing 2.50 gallons of milk
We have 5 jugs containing 10.87 gallons of juice

Difference between a list, a set, and a tuple.
* Lists are enclosed in brackets: l = [1, 2, "a"]
* Tuples are enclosed in parentheses: t = (1, 2, "a") - Tuples are faster and consume less memory. 
* Dictionaries are built with curly brackets:d = {"a":1, "b":2} - To initialize dict use dict() or {}
* Sets are made using the set() builtin function - To initialize empty set using set function

In [9]:
list = ["A","B","C"] # Order is maintained
Tuple = ("A","B","C") # Cannot add elements to Tuples or elements cannot be modified; Order is maintained
Set = {"A","B","C"} # Set cannot have duplicate values, Order may or maynot be maintained

print(list[0])
print(Tuple[0])
# print(set[0]) # Wrong becoz order is not maintained

list[0] = "E" #One of its element can be modified
print(list)
# Tuple[0] = "S"  # This gives an error because tuples are "immutable". Tuples cannot be appended to because they are immutable.

list.append("D") #Adds at the end
print(list)
list.remove("B")
print(list)
# Tuple[0] = "D" # Wrong becoz u cannot modify Tuple
list.insert(1,"B") # Insert at index=1
print(list)

Set.add("D")
print(Set)

A
A
['E', 'B', 'C']
['E', 'B', 'C', 'D']
['E', 'C', 'D']
['E', 'B', 'C', 'D']
{'D', 'B', 'A', 'C'}

In [ ]:
### Set Operations ###
# Both variables should be of same data type
# x UNION y
x.union(y)
# x INTERSECTION y
x.intersection(y)
# x members not in y
x.difference(y)
# y members not in x
y.difference(x)

## Difference of two sets or lists
x = set(pd.unique(df['Var']))
y = set(pd.unique(df['Var1']))
z = x-y (or) x.difference(y)

In [15]:
# -- Comparisons --
print(5 == 5)  # True
print(5 > 5)  # False
print(10 != 10)  # False

print("Comparisons operators: ==, !=, >, <, >=, <=")

True
False
False
Comparisons operators: ==, !=, >, <, >=, <=

In [ ]:
print("if else statement")
x = input("give a value to x:")

if x=='5':   # if x in {'4','5','6'}
  print(f"it is {x}")
elif x=='10':
  print(f"it is ({x}/2)")
else:
  print("Nothing")
  
day_of_week = input("What day of the week is it today? ").lower()
if day_of_week == "monday":
    print("Have a great start to your week!")
elif day_of_week == "friday":
    print("It's ok to finish a bit early!")
else:
    print("Full speed ahead!")

give a value to x:14
Nothing

In [19]:
number = 7
user_input = input("Enter 'y' if you would like to play: ")

if user_input.lower() == "y":
    user_number = int(input("Guess our number: "))
    if user_number == number:
        print("You guessed correctly!")
    elif abs(number - user_number) == 1:
        print("You were off by 1.")
    else:
        print("Sorry, it's wrong!")

Enter 'y' if you would like to play: y
Guess our number: 6
You were off by 1.

Loops in Python
* While loop - With the while loop we can execute a set of statements as long as a condition is true - https://www.w3schools.com/python/python_while_loops.asp </br>
https://healthedge.udemy.com/course/rest-api-flask-and-python/learn/lecture/5960068#overview </br>
  * Break, continue, else statements - https://www.w3schools.com/python/python_for_loops.asp
* For Loop -     
    
Return error and keep continuing in for loop 
https://www.digitalocean.com/community/tutorials/how-to-use-break-continue-and-pass-statements-when-working-with-loops-in-python-3

In [20]:
# -- While loop --

number = 7
play = input("Would you like to play? (Y/n) ")

while play != "n":
    user_number = int(input("Guess our number: "))
    if user_number == number:
        print("You guessed correctly!")
    elif abs(number - user_number) == 1:
        print("You were off by 1.")
    else:
        print("Sorry, it's wrong!")

    play = input("Would you like to play? (Y/n) ")

Would you like to play? (Y/n) y
Guess our number: 10
Sorry, it's wrong!
Would you like to play? (Y/n) n

In [21]:
# -- The break keyword --

while True:
    play = input("Would you like to play? (Y/n) ")

    if play == "n":
        break  # Exit the loop

    user_number = int(input("Guess our number: "))
    if user_number == number:
        print("You guessed correctly!")
    elif abs(number - user_number) == 1:
        print("You were off by 1.")
    else:
        print("Sorry, it's wrong!")

Would you like to play? (Y/n) y
Guess our number: 8
You were off by 1.
Would you like to play? (Y/n) n

In [16]:
# -- For loop --
friends = ["Rolf", "Jen", "Bob", "Anne"]
for friend in friends:
    print(f"{friend} is my friend.")

A is my friend
B is my friend
C is my friend

In [24]:
# -- For loop 2 -- Average
grades = [35, 67, 98, 100, 100]
total = 0
amount = len(grades)

for grade in grades:
    total += grade

print(total)
print(total / amount)

400
80.0

In [23]:
# -- Rewritten using sum() --
grades = [35, 67, 98, 100, 100]
total = sum(grades)
amount = len(grades)
print(total)
print(total / amount)

400
80.0

In [ ]:
print("List Comprehension")
numbers = [1,3,5]
doubled = [x*2 for x in numbers]
doubled

List Comprehension

[2, 6, 10]

In [ ]:
print("Extract words that start with S in the list")
friends = ["Roy" , "Sandy" , "Sam" ,"Gau"]
starts_s = [x for x in friends if x.startswith("S")]
starts_s

Extract words that start with S in the list

['Sandy', 'Sam']

In [26]:
print("Dictionaries")
friend_ages = {"Rolf":24, "Sandy":27, "Sam": 30}
print(friend_ages["Sandy"])

friend_ages["Bob"] =25 #Modify or add an element to the dictionary

Dictionaries
27

In [77]:
student = {'name':'Jose', 'school':'Computing','grades':(66, 77, 88)}

# Assume the argument, data, is a dictionary.
# Modify the grades variable so it accesses the 'grades' key of the data dictionary.
def average_grade(data):
    grades = data['grades']
    return sum(grades) / len(grades)

average_grade(student)

77.0

In [78]:
def average_grade_all_students(student_list):
    total = 0
    count = 0
    for student in student_list:
        grades = student['grades']
        count += len(grades)
        total += sum(grades)

    return total / count

In [ ]:
friends = [
           {"name": "Rolf", "age": 24},
           {"name": "Sandy", "age": 27},
           {"name": "Sam", "age": 30},
]
friends[1]["name"]

'Sandy'

In [27]:
friend_ages = {"Rolf":24, "Sandy":27, "Sam": 30}

for x in friend_ages:
  print(x)

Rolf
Sandy
Sam

In [33]:
friend_ages = {"Rolf":24, "Sandy":27, "Sam": 30}

for x in friend_ages:
  print(f"{x}: {friend_ages[x]}")

print("Same result")
for x,y in friend_ages.items():
  print(f"{x}: {y}")

print(friend_ages.keys())

print(friend_ages.values())
print(sum(friend_ages.values()))

print(friend_ages.items())

Rolf: 24
Sandy: 27
Sam: 30
Same result
Rolf: 24
Sandy: 27
Sam: 30
dict_keys(['Rolf', 'Sandy', 'Sam'])
dict_values([24, 27, 30])
81
dict_items([('Rolf', 24), ('Sandy', 27), ('Sam', 30)])

In [68]:
friend_ages

{'Rolf': 24, 'Sam': 30, 'Sandy': 27}

In [ ]:
# To ignore a variable - use underscore - https://healthedge.udemy.com/course/rest-api-flask-and-python/learn/lecture/15927666#overview
person = ("Sandy", 27, "DS")
name, _, profession = person
print(name, profession)

Sandy DS

In [ ]:
# Seperate a list into 2 elements: 1st and all other into 1
# * is used for collectiong
head, *tail = [1,2,3,4,5]
print(head)
print(tail)

1
[2, 3, 4, 5]

In [ ]:
head, *tail, y = [1,2,3,4,5]
print(head)
print(tail)
print(y)

1
[2, 3, 4]
5

Functions

In [ ]:
def hello():
  print("Hello!")

In [ ]:
def age_in_secs():
  age = int(input("Enter your age:"))
  age_secs = age*365*24*60*60
  print(f"Your age in seconds is {age_secs}")

In [ ]:
age_in_secs()

Enter your age:27
Your age in seconds is 851472000

In [ ]:
# positional Arguments
def say_hello():
  print("Hello Sandy!")

say_hello()

Hello Sandy!

In [ ]:
def say_hello(name):
  print(f"Hello {name}")

say_hello("sandy")

Hello sandy

In [ ]:
def say_hello(name, surname):
  print(f"Hello {name} {surname}")

say_hello("sandy", "pashikanti")

Hello sandy pashikanti

In [ ]:
# When variables are mentioned, then 
def say_hello(name, surname):
  print(f"Hello {name} {surname}")

say_hello(surname="pashikanti" , name="sandy" )

Hello sandy pashikanti

In [ ]:
def addtwo(x, y=5): #Here y is default parameter, it takes the value mentioned 

def addtwo(x=5, y): # Gives ERROR as default parameters must be mentioned at the end

def addtwo(y, x-3): # x is mentioned as a default parameter - and specified at the end

In [35]:
def add2(x,y):
  print(x+y)

add2(5,8)

13

In [38]:
def add2(x,y):
  return x+y

add2(5,8)

13

In [36]:
def add2(x,y):
  print(x+y)

add2(5,8)
print(add2(5,8)) # Here add2(5,8) is called and then the function returns None

13
13
None

In [ ]:
# Return statement in a function returns a value after the function is executed
# Print statement in a function returns NONE after the function is executed
def addtwo(x,y):
  return x+y

addtwo(5,8)
print(addtwo(5,8))

13

In [37]:
def addtwo(x,y):
  return x+y
  print(x+y) # Print statement is not executed because it is after the return statement

In [ ]:
# lambda function - Get input and return output
addtwoNum = lambda x, y: x+y 
print(addtwoNum(5,7))

12

In [ ]:
# Calling 5,7 as x,y on lambda functions
(lambda x, y: x+y)(5,7)

12

In [65]:
sequence = [1, 3, 5, 9]

doubled = set(map(lambda x: x * 2,sequence)) # Order is lost in sets
print(doubled) 
print([*doubled])

doubled = map(lambda x: x * 2,sequence) 
print([*doubled]) # Convert map to list

{18, 2, 10, 6}
[18, 2, 10, 6]
[2, 6, 10, 18]

In [66]:
# Applying function on a sequence
def double(x):
  return x*2

sequence = [1,3,5,9]

# 1st way
DoubledSequence = [double(x) for x in sequence]
print(DoubledSequence)

# 2nd way - map(function,array)
# Convert map object to set and then to list
DoubledSequence = map(double, sequence) 
print([*DoubledSequence]) # Convert map to list

# 3rd way - lambda
DoubledSequence = [(lambda x: x*2)(x) for x in sequence]
print(DoubledSequence)
DoubledSequence = map(lambda x: x*2, sequence) # Order is lost in sets
print([*DoubledSequence]) # Convert map to list

[2, 6, 10, 18]
[2, 6, 10, 18]
[2, 6, 10, 18]
[2, 6, 10, 18]

In [ ]:
# Multiple arguments - iterating more the previous value
def multiply(*args):
  print(args)

multiply(1,3,5)

(1, 3, 5)

In [ ]:
# Multiple arguments - iterating more the previous value
def multiply(*args):
  total=1
  for arg in args:
    total = total*arg
  return total

multiply(1,3,5)

15

In [ ]:
nums = [3,5]
print(*nums)

3 5

In [ ]:
# Create dictionary
def names(**kwargs):
  print(kwargs)

names(name="Sandy", age=27)

{'name': 'Sandy', 'age': 27}

In [86]:
class Student:
    def __init__(self):
        self.name = "Rolf"
        self.grades = (89, 90, 93, 78, 90)

print(Student().name)
print(Student().grades)

Rolf
(89, 90, 93, 78, 90)

In [87]:
student = {"name": "Rolf", "grades": (89, 90, 93, 78, 90)}

def average(sequence):
    return sum(sequence) / len(sequence)

print(average(student["grades"]))

88.0

In [88]:
# But wouldn't it be nice if we could...
# print(student.average()) ?

class Student:
    def __init__(self):
        self.name = "Rolf"
        self.grades = (89, 90, 93, 78, 90)

    def average(self): #self is Student()
        return sum(self.grades) / len(self.grades)

student = Student()
print(student.average())
# Identical to Student.average(student)

88.0

In [89]:
# -- Parameters in __init__ --
class Student:
    def __init__(self, name, grades):
        self.name = name
        self.grades = grades

    def average(self):
        return sum(self.grades) / len(self.grades)


student = Student("Bob", (36, 67, 90, 100, 100))
print(student.average())

78.6

In [90]:
# -- Remember *args ? --
class Student:
    def __init__(self, name, *grades):
        self.name = name
        self.grades = grades

    def average(self):
        return sum(self.grades) / len(self.grades)


student = Student("Bob", 36, 67, 90, 100, 100)
print(student.average())

78.6

In [91]:
# A function that lives inside a class is called a method.
# So, methods are functions, but not all functions are methods.
def average(sequence):
    return sum(sequence) / len(sequence)

class Student:
    def __init__(self):  # method
        self.name = "Rolf"
        self.grades = (79, 90, 95, 99)
    
    def average(self):  # method
        return sum(self.grades) / len(self.grades)

In [92]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age


bob = Person("Bob", 35)
print(bob)  # Not the nicest thing to read!

<__main__.Person object at 0x7fa07f0cec50>

In [93]:
# -- __str__ --
# The goal of __str__ is to return a nice, easy to read string for end users.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Person {self.name}, {self.age} years old"


bob = Person("Bob", 35)
print(bob)  # Much nicer

Person Bob, 35 years old

In [94]:
# -- __repr__ --
# The goal of __repr__ is to be unambiguous, and if possible what it outputs should allow us to re-create an identical object.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        # I'm adding the < > just so it's clear that this is an object we're printing out!
        return (
            f"<Person({self.name!r}, {self.age})>"
        )  # !r calls the __repr__ method of the thing.


bob = Person("Bob", 35)
print(bob)  # Not as nice, but we could re-create "Bob" very easily.

<Person('Bob', 35)>

In [95]:
class ClassTest:
    def instance_method(self):
        print(f"Called instance_method of {self}")

    @classmethod
    def class_method(cls):
        print(f"Called class_method of {cls}")

    @staticmethod
    def static_method():
        print(f"Called static_method. We don't get any object or class info here.")


instance = ClassTest()
instance.instance_method()

ClassTest.class_method()
ClassTest.static_method()

Called instance_method of <__main__.ClassTest object at 0x7fa07f0ceda0>
Called class_method of <class '__main__.ClassTest'>
Called static_method. We don't get any object or class info here.

In [96]:
# -- What are they used for? --
# Instance methods are used for most things. When you want to produce an action that uses the data stored in an object.
# Static methods are used to just place a method inside a class because you feel it belongs there (i.e. for code organisation, mostly!)
# Class methods are often used as factories.
class Book:
    TYPES = ("hardcover", "paperback")

    def __init__(self, name, book_type, weight):
        self.name = name
        self.book_type = book_type
        self.weight = weight

    def __repr__(self):
        return f"<Book {self.name}, {self.book_type}, weighing {self.weight}g>"

    @classmethod
    def hardcover(cls, name, page_weight):
        return cls(name, cls.TYPES[0], page_weight + 100)

    @classmethod
    def paperback(cls, name, page_weight):
        return cls(name, cls.TYPES[1], page_weight)


heavy = Book.hardcover("Harry Potter", 1500)
light = Book.paperback("Python 101", 600)

print(heavy)
print(light)

<Book Harry Potter, hardcover, weighing 1600g>
<Book Python 101, paperback, weighing 600g>

In [97]:
class Device:
    def __init__(self, name, connected_by):
        self.name = name
        self.connected_by = connected_by
        self.connected = True

    def __str__(self):
        return f"Device {self.name!r} ({self.connected_by})"

    def disconnect(self):
        self.connected = False


# printer = Device("Printer", "USB")
# print(printer)

# We don't want to add printer-specific stuff to Device, so...

In [98]:
class Printer(Device):
    def __init__(self, name, connected_by, capacity):
        # super(Printer, self).__init__(name, connected_by)  - Python2.7
        super().__init__(name, connected_by)  # Python3+
        self.capacity = capacity
        self.remaining_pages = capacity

    def __str__(self):
        return f"{super().__str__()} ({self.remaining_pages} pages remaining)"

    def print(self, pages):
        if not self.connected:
            raise TypeError("Device is disconnected at this time, cannot print.")
        print(f"Printing {pages} pages.")
        self.remaining_pages -= pages


printer = Printer("Printer", "USB", 500)
printer.print(20)
print(printer)
printer.print(50)
print(printer)
printer.disconnect()
printer.print(30)  # Error

Printing 20 pages.
Device 'Printer' (USB) (480 pages remaining)
Printing 50 pages.
Device 'Printer' (USB) (430 pages remaining)

TypeError: ignored

In [99]:
### Dictionaries
### Min and Max values frm Dictionaries:
prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}
# Find min and max price
min_price = min(zip(prices.values(), prices.keys()))
max_price = max(zip(prices.values(), prices.keys()))
print('min price:', min_price)
print('max price:', max_price)
# Sorted prices
print('sorted prices:')
prices_sorted = sorted(zip(prices.values(), prices.keys()))
for price, name in prices_sorted:
    print('    ', name, price)

### Determine the most/top common words in a list
words = [
   'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
   'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
   'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
   'my', 'eyes', "you're", 'under']
from collections import Counter
word_counts = Counter(words)
top_three = word_counts.most_common(3)
print(top_three)
# outputs [('eyes', 8), ('the', 5), ('look', 4)]
# Example of merging in more words
morewords = ['why','are','you','not','looking','in','my','eyes']
word_counts.update(morewords)
print(word_counts.most_common(3))

### Extracting a subset from dictionary based on values or keys
# example of extracting a subset from a dictionary
from pprint import pprint
prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75}
# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }
print("All prices over 200")
pprint(p1)
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }
print("All techs")
pprint(p2)

min price: (10.75, 'FB')
max price: (612.78, 'AAPL')
sorted prices:
     FB 10.75
     HPQ 37.2
     ACME 45.23
     IBM 205.55
     AAPL 612.78
[('eyes', 8), ('the', 5), ('look', 4)]
[('eyes', 9), ('the', 5), ('look', 4)]
All prices over 200
{'AAPL': 612.78, 'IBM': 205.55}
All techs
{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}